.dashboard img {
    width: 80px;
    height: 80px;
    color: white;
}

.dashboard-total-text {
    font-size: 45px;
}
.management-tabs{
    position: sticky;
    top: 0;
    z-index: 5;
}
table .book-name{
    overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 1;
}
